*{
    text-decoration: none;
}

body div input {
    background-color: rgb(141, 201, 224); /* Green */
    border: none;
    margin-top: 1ch;
    width: 160px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    margin-right: 200px;
    text-align: center;
    background-color: #ff9800;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

div h3 {
    border: none;
    margin : 0px;
    color: rgb(141, 201, 224);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.floater {
    float : right;
}


body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}